---
import BaseLayout from "../layouts/BaseLayout.astro";

const metadata = {
  title: "About | Rodrigo Fernandes",
  description: "Hey, I'm Rodrigo Fernandes. Learn more about me on this page.",
};
---

<BaseLayout metadata={metadata}>
  <section>
    <h1>About me</h1>
    <p>
      I am a software engineer based in Brasília, Brazil, the city where I was
      born and raised.
    </p>
    <p>
      I went to college for aerospace engineering in 2016, mostly because I was
      good at math and physics in school. After spending 3 years doing very hard
      subjects, like calculus I to III, thermodynamics, solid mechanics, etc, I
      noticed that I couldn't find an internship. Because Brasília is a recently
      developed capital in the middle of the country, most of the people I knew
      were working in government jobs, and aerospace engineering is not in
      demand.
    </p>
    <p>
      This was a turning point in my life. I realized that, once I graduated,
      there was a high chance I would end up without a job, just like many new
      engineering graduates in Brazil.
    </p>
    <p>
      I decided to go into software engineering, and I've been working in web
      development since 2020. It's been a great experience honestly. This is an
      industry where you can just get started building stuff after reading
      documentation online, and that is awesome. If you get a good laptop and a
      good internet connection, you are on par with the best developers in the
      world, which is something you don't get in other industries.
    </p>
    <p>
      My main inspirations in this field are <a
        href="https://x.com/levelsio"
        target="_blank">Pieter Levels</a
      > and <a href="https://willianjusten.com.br/" target="_blank"
        >Willian Justen</a
      >.
    </p>
  </section>
</BaseLayout>
