---
import BaseLayout from "../layouts/BaseLayout.astro";

const metadata = {
  title: "Home | Rodrigo Fernandes",
  description:
    "I am Rodrigo Fernandes and this is my webpage. Thanks for stopping by! It is a work in progress.",
};
---

<BaseLayout metadata={metadata}>
  <section>
    <p>
      I am Rodrigo Fernandes and this is my webpage. More <a href="/about/">about me</a>.
    </p>
  </section>
  <section>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://tabelanutricional.rodrigofernand.es/">Tabela Nutricional</a>
        <span>A big table of brazilian nutritional information</span>
      </li>
    </ul>
  </section>
  <section>
    <h2>Posts</h2>
    <ul>
      <li>
        <a href="/posts/why-this-site-is-so-simple/">Why this website is so simple</a>
        <span>My thoughts on complexity on the web</span>
      </li>
    </ul>
  </section>
  <section>
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="/pdf/resume.pdf" target="_blank">Resume</a>
        <span>PDF</span>
      </li>
    </ul>
  </section>
  <section>
    <h2>Find me at</h2>
    <ul>
      <li>
        <a href="mailto:me@rodrigofernand.es">Email</a>
        <span>I respond pretty quickly here</span>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/rodrigofernand-es/" target="_blank"
          >LinkedIn</a
        >
        <span>Professional profile</span>
      </li>
      <li>
        <a href="https://github.com/fernandes77" target="_blank">GitHub</a>
        <span>Coding projects</span>
      </li>
    </ul>
  </section>
</BaseLayout>

<style>
  ul li span {
    font-weight: 300;
    color: var(--text-300);
    margin-left: 0.2rem;
  }
</style>
